html, body {
	display: grid;
	place-content: center;
	height: 100%;
	margin: 0;
	background: #bbd2f1;
}
.haupt {
    z-index: 2;
    text-align: center;
    font-size: 30px;
    color: whitesmoke;
    text-shadow:4px 4px  hsla(210, 6%, 14%, 0.445);
}

.sliding-puzzle {
	width: 1200px;
	height: 700px;
	background: #bbd2f1;
	border-radius: 0.5em;
	overflow: hidden;
	position: relative;
	
	.tile {
		background: url("https://picsum.photos/1200/800")
			#212325 no-repeat
			calc(var(--x) / (var(--columns) - 1) * 100%)
			calc(var(--y) / (var(--rows)    - 1) * 100%) /
			calc(var(--columns) * 100%)
			calc(var(--rows)    * 100%);
		display: grid;
		place-content: center;
		font-size: 300%;
		color: transparent;
		/*  text-shadow: 0 1px black; */
		user-select: none;
		position: absolute;
		left: calc(var(--i) / var(--columns) * 100%);
		top:  calc(var(--j) / var(--rows)    * 100%);
		width:  calc(100% / var(--columns));
		height: calc(100% / var(--rows));
		transition: 10000ms;
	}
	
	.tile:last-child {
		opacity: 0;
		pointer-events: none;
	}
}
